@use "mediaQuery" as *;
$back: #baa8a2;
$wback: #ffffff;

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  border: 0;
}

.c-main {
  width: 100%;
  text-align: center;

  .c-title-level2 {
    display: inline-block;
    margin: 47px auto 0;
  }

  .c-title-level2 a {
    text-decoration: none;
  }

  .c-button:hover {
    opacity: 0.5;
  }

  .c-en {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.4rem;
    color: #333333;
  }

  @include min(md) {
    .c-en {
      font-size: 32px;
    }
  }

  .c-ja {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.08rem;
    color: #333333;
    padding-top: 16px;
  }

  @include min(md) {
    .c-ja {
      font-size: 18px;
    }
  }

  .c-button {
    background-color: $back;
    width: 260px;
    height: 55px;
    margin: 47px auto 47px;
  }

  @include min(md) {
    .c-button {
      width: 324px;
      margin: 86px auto 86px;
    }
  }

  .c-button-link {
    text-decoration: none;
  }

  .c-button a:hover {
    opacity: 0.5;
  }

  .c-view {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.1rem;
    padding-top: 19.5px;
    color: $wback;
  }

  @include min(md) {
    .c-view {
      font-size: 18px;
    }
  }
}
