@use "mediaQuery" as *;
$back: #baa8a2;
$wback: #ffffff;
$stitle: #baa8a2;

.error-img-pic img {
  width: 100%;
  height: auto;
}

.error-container {
  padding: 96px 0;
  width: 90%;
  margin: 0 5%;

  .error-inner {
    text-align: center;
  }

  @include min(md) {
    .error-inner {
      max-width: 525px;
      margin: 0 auto;
    }
  }

  .error-title {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.4rem;
    margin-bottom: 16px;
  }

  @include min(md) {
    .error-title {
      font-size: 36px;
      letter-spacing: 0.8rem;
    }
  }

  .error-text1 {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.78;
    letter-spacing: 0.08rem;
    margin-bottom: 40px;
  }

  @include min(md) {
    .error-text1 {
      font-size: 18px;
      line-height: 1.75;
    }
  }

  .error-text2 {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.78;
    letter-spacing: 0.08rem;
    margin-bottom: 40px;
  }

  @include min(md) {
    .error-text2 {
      font-size: 16px;
      line-height: 1.75;
    }
  }

  @include min(md) {
    .error-text2 span {
      display: inline-block;
    }
  }

  .error-button {
    background-color: $back;
    width: 80%;
    max-width: 260px;
    height: 55px;
    margin: 0 auto;
  }

  @include min(md) {
    .error-button{
    max-width: 324px;
    }
  }

  .error-button:hover {
    opacity: 0.5;
  }

  .error-button a {
    text-decoration: none;
  }

  .error-button-view {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 19.5px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.1em;
    color: $wback;
  }
}

@include min(md) {
  .error-container {
    padding: 160px 0;
    width: 68%;
    margin: 0 16%;
  }
}
