@use "mediaQuery" as *;
$back: #baa8a2;
$wback: #ffffff;
$stitle: #baa8a2;

/* ------------------------------ */
/* トップ部分 */
/* ------------------------------ */

.pro-img-pic img {
  width: 100%;
  height: auto;
}

.pro-shampoo {
  display: flex;
  flex-flow: column;
  gap: 16px;
  width: 90%;
  height: auto;
  margin: 0 5%;
  padding: 96px 0;

  .pro-shampoo-container {
    width: 100%;
    height: auto;
  }

  .pro-shampoo-img-pic img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  .pro-shampoo-img-pic:hover img {
    transform: scale(1.05);
  }

  @include min(md) {
    .pro-shampoo-img-pic img {
      width: 29.13vw;
      height: 100%;
    }
  }

  .pro-shampoo-title {
    font-family: "Noto Serif JP";
    color: #333333;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.72;
    letter-spacing: 0.08em;
    padding-bottom: 16px;
  }

  @include min(md) {
    .pro-shampoo-title {
      font-size: 26px;
      line-height: 1.73;
      padding-bottom: 24px;
    }
  }

  .pro-shampoo-text {
    color: #5d5d5d;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.08em;
  }

  @include min(md) {
    .pro-shampoo-text {
      font-size: clamp(10px, 1.17vw, 16px);
      line-height: 1.75;
      max-width: 386px;
    }
  }

  .pro-shampoo-button {
    background-color: $back;
    width: 72.22vw;
    max-width: 260px;
    height: 55px;
    margin: 16px auto 0;
    text-align: center;
  }

  @include min(md) {
    .pro-shampoo-button {
      background-color: $back;
      width: 72.22vw;
      max-width: 260px;
      height: 55px;
      margin: 16px 0 0;
    }
  }

  .pro-shampoo-button:hover {
    opacity: 0.5;
  }

  .pro-shampoo-button a {
    text-decoration: none;
  }

  .pro-shampoo-button-view {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 19.5px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.08rem;
    color: $wback;
  }
}

@include min(md) {
  .pro-shampoo {
    width: 65%;
    flex-flow: row;
    margin: 0 17.5%;
    gap: 80px;
    padding: 160px 0;
  }
}

/* ------------------------------ */
/* 関連商品部分 */
/* ------------------------------ */

.related {
  width: 100%;
  height: 100%;
  padding: 96px 0;
  background-color: rgba($color: #baa8a2, $alpha: 0.15);

  .related-titles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 164px;
    height: 94px;
    text-align: center;
  }

  @include min(md) {
    .related-titles {
      flex-direction: row;
      flex-wrap: wrap;
      width: 510px;
      height: 70px;
    }
  }

  .related-title1 {
    color: #333333;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.4em;
  }

  @include min(md) {
    .related-title1 {
      width: 100%;
    }
  }

  .related-title2 {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.08em;
  }

  .related-container {
    width: 90%;
    height: auto;
    margin: 48px 5% 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  @include min(md) {
    .related-container {
      width: 80%;
      height: auto;
      margin: 80px 10% 0;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 80px;
    }
  }
  .related-list-1,
  .related-list-2,
  .related-list-3 {
    text-align: center;
  }

  @include min(md) {
    .related-list-1,
    .related-list-2,
    .related-list-3 {
      width: calc((100% / 3) - (80px * 2 / 3));
    }
  }

  .related-list-1 img,
  .related-list-2 img,
  .related-list-3 img {
    width: 90vw;
    transition: 0.3s;
  }

  .related-list-link1:hover img,
  .related-list-link2:hover img,
  .related-list-link3:hover img {
    transform: scale(1.05);
  }

  @include min(md) {
    .related-list-1 img,
    .related-list-2 img,
    .related-list-3 img {
      width: 100%;
    }
  }

  @include min(md) {
    .related-list-1 {
      order: 1;
    }
  }

  @include min(md) {
    .related-list-3 {
      order: 2;
    }
  }

  .related-name {
    font-family: "Noto Serif JP";
    color: #333333;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.75;
    letter-spacing: 0.08em;
    padding-top: 16px;
  }

  @include min(md) {
    .related-name {
      font-size: 20px;
    }
  }

  .related-text {
    font-family: "Noto Serif JP";
    color: #5d5d5d;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.08em;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  @include min(md) {
    .related-text {
      font-size: clamp(14px, 1.17vw, 16px);
      line-height: 1.75;
      width: 100%;
    }
  }

  .related-button {
    background-color: $back;
    width: 80%;
    max-width: 260px;
    height: 55px;
    margin: 16px auto 0;
    text-align: center;
  }

  @include min(md) {
    .related-button {
      width: 90%;
    }
  }

  .related-button:hover {
    opacity: 0.5;
  }

  .related-button a {
    text-decoration: none;
  }

  .related-button-view {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 19.5px;
    font-size: clamp(12px, 4.44vw, 16px);
    line-height: 1;
    letter-spacing: 0.1rem;
    color: $wback;
  }

  @include min(md) {
    .related-button-view {
      font-size: clamp(14px, 1.32vw, 18px);
    }
  }
}

@include min(md) {
  .related {
    padding: 160px 0;
  }
}
