@use "mediaQuery" as *;
$back: #baa8a2;
$wback: #ffffff;

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  border: 0;
}
.top-kv {
  .top-kv-img img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  @include min(md) {
    .top-message-container {
      position: relative;
      left: 40px;
      top: 156px;
    }
  }

  .top-message {
    width: 167px;
    height: 156px;
    display: inline-block;
    margin: 16px 0 16px 5%;
  }

  @include min(md) {
    .top-message {
      width: auto;
      height: auto;
      margin: 0;
    }
  }

  .top-message p {
    font-weight: 500;
    font-size: 24px;
    line-height: 2.16;
    letter-spacing: 0.2rem;
  }

  @include min(md) {
    .top-message p {
      font-size: 40px;
      line-height: 2.4;
    }
  }

  .top-button {
    background-color: $back;
    width: 260px;
    height: 55px;
    margin-left: 5%;
    text-align: center;
  }

  @include min(md) {
    .top-button {
      width: 360px;
      margin-top: 96px;
      margin-left: 0;
    }
  }

  .top-button a {
    text-decoration: none;
  }

  .top-button-view {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.1rem;
    padding-top: 19.5px;
    color: $wback;
  }
}

@include min(md) {
  .top-kv {
    margin-left: 10%;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
}

.top-article {
  width: 90%;
  height: auto;
  margin: 0 5%;

  .features {
    margin: 96px auto 48px;
    text-align: center;
  }

  .feature {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.4rem;
    text-shadow: 1px 4px 2px #dcdcdc;
  }

  @include min(md) {
    .feature {
      font-size: 32px;
      letter-spacing: 0.8rem;
      text-shadow: 0px 0px 0px;
    }
  }
  .feature-coco {
    font-family: "Noto Serif JP";
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.08rem;
    padding-top: 16px;
  }

  @include min(md) {
    .feature-coco {
      font-size: 18px;
    }
  }
}

@include min(md) {
  .top-article {
    width: 80%;
    margin: 0 10%;
  }
}