@charset "UTF-8"

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}

.page-header {
  height: 160px;
  background: linear-gradient(90deg, #FDDB92 0%, #D1FDFE 100%);
}

.icon {
  position: relative;
  top: 100px;
  left: 18px;
  width: 120px;
  height: 120px;
}

article {
  margin: 76px 18px 0 18px;
}

.top-name {
  display: flex;
  margin-left: 12px;
}

.top-name h6{
  font-size: 18px;
  padding-right: 8px;
}

.top-name b{
  font-size: 12px;
  margin: 5px 0;
}

.name-main{
  display: block;
  font-size: 14px;
  margin: 0 12px;
}