@charset "UTF-8"

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}

.page-header {
  height: 160px;
  background: linear-gradient(90deg, #FDDB92 0%, #D1FDFE 100%);
}

.image {
  position: relative;
  top: 100px;
  left: 18px;
  width: 120px;
  height: 120px;
}

article {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 76px 18px 70px 18px;
}

.top-name {
  display: flex;
  margin-left: 12px;
}

.top-name h6{
  font-size: 18px;
  padding-right: 8px;
}

.top-name b{
  font-size: 12px;
  margin: 5px 0;
}

.name-main{
  display: block;
  font-size: 14px;
  margin: 12px;
}

.site {
  font-size: 14px;
  margin: 12px;
}

.grid {
  display: grid;
  margin: 0 18px 64px 18px;
  gap: 40px;
  text-align: center;
}

.sns p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  font-size: 18px;
  margin-bottom: 16px;
}

.sns {
  margin-bottom: 64px;
}

.container {
  display: flex;
  justify-content: center;
}

.container img {
  width: 40px;
  height: 40px;
  margin: 0 6px;
}

footer {
  background-color: black;
  height: 51px;
}

footer p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  color: #D9D9D9;
  font-size: 12px;
  text-align: center;
  padding: 16px 0;
}