@use "mediaQuery" as *;

.main {
  margin: 0 5%;

  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin: 0 auto;

    & img {
      border-radius: 5%;
    }
    & p {
      font-weight: bold;
      padding-top: 10px;
    }
  }
  .flex {
    margin-bottom: 40px;
  }

  @include min(md) {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      margin: 0 auto;

      & img {
        border-radius: 5%;
      }
      & p {
        font-size: 18px;
        font-weight: bold;
        padding-top: 10px;
      }
    }
    .flex {
      margin-bottom: 40px;
    }
  }

  @include min(lg) {
    .flex {
      display: flex;
      gap: 30px;

      & img {
        border-radius: 5%;
      }
      & p {
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
      }
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      & img {
        border-radius: 5%;
        margin-top: 20px;
      }
      & p {
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
      }
    }
  }
}
